<h1>Update Post</h1>
<textarea class="Blog-title" placeholder="{{blog.title}}"></textarea>
<textarea class="blog-p" placeholder="{{blog}}"></textarea>
<button data-id="{{id}}" type="submit" class="btn btn-primary update-post">Publish</button>

<script src="/js/publish.js"></script>